<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263747819252-dk3g5vge7tvbp8j8ahhuvj5sm3s3bbjn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263747819252-dk3g5vge7tvbp8j8ahhuvj5sm3s3bbjn</string>
	<key>API_KEY</key>
	<string>AIzaSyDljDnn9CE-Pkwd5qVeRw7ww5T9fDbEunk</string>
	<key>GCM_SENDER_ID</key>
	<string>263747819252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Caliendo.Firebase-Realtime-Database</string>
	<key>PROJECT_ID</key>
	<string>fir-realtime-database-6669f</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-realtime-database-6669f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263747819252:ios:c2511631ee55dfab9db0a1</string>
	<key>DATABASE_URL</key>
	<string>https://fir-realtime-database-6669f.firebaseio.com</string>
</dict>
</plist>